$def with (content)
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ScoutBase</title>
	<link rel='stylesheet' href='/static/style.css'>
</head>
<body>

<div class='menubar'>
	<a href='/'>Sign Out</a> | <a href='/'>Home</a>
</div>

<div class='header'>
	<span class='logo'>ScoutBase</span>
	<div class='navbar'>
		<a href='/' 

$if content.title == 'home':
	class="active"

>Teams</a>
<a href='new'

$if content.title == 'new':
	class="active"

>New Team</a>
	</div>
</div>

<div class='content'>
	$:content
</div>

<footer>
	<p>Powered by <a href='http://www.webpy.org/'>webpy</a></p>
</footer>

</body>
</html>